<%include head.ejs%>
<body>
	<link rel='stylesheet' href='/css/detail_item.css' type='text/css' />
	<%include nav.ejs%>
	
	
		<div class="container-fluid" id="content">
			<div class="row">
				
				<div class="col-md-4 col-md-offset-1" id="img">
					<img id="imgSrc" src="<%=data.itemInfo.imgSrc%>"</img>
				</div>
			
				<div class="col-md-4">
					<h4 id="alertToCart" class="alert alert-warning" style="display:none">Vui lòng đăng nhập trước đã</h4>
					<h3 id="itemName"><%=data.itemInfo.name%></h3>
					<p ><span class="glyphicon glyphicon-usd"></span><span id="price">	<%=data.itemInfo.price%></span>đ</p>
					<p>Giá cũ: <del id="oldPrice"><%=data.itemInfo.oldPrice%></del> đ</p>
					<p>Mã sản phẩm: <span id="idItem"><%=data.itemInfo.id%></span></p>
					<p>
					<p>Số lượng:   <input id="number" type="number" name="quantity" min="1" value="1" max="5"><p>
					</p>
					<p>
						Số lượng sẵn có: <%=data.itemInfo.quantity%>
					</p>
					<button id="addToCart" class="btn btn-info" onlick="">Thêm vào giỏ hàng</button>
					<button class="btn btn-warning" onClick="alert('chưa làm');">Mua ngay</button>
				</div>
				
				<div class="col-md-3 id="right">
				<p> <br><br>
					<a href="#">
			          <span class="glyphicon glyphicon-gift"></span>
			        </a>Miễn phí giao hàng
		        </p>
				
				<p>
					<a href="#">
			          <span class="glyphicon glyphicon-calendar"></span>
			        </a>Bảo hành 12 tháng
		        </p>

		        <p>
			        <a href="#">
			          <span class="glyphicon glyphicon-ok-sign"></span>
			        </a> 7 ngày đổi trả dễ dàng.
			     </p>
				</div>

			</div>
		</div>
		

		

			

	<%include foot.ejs%>
</body>
</html>