<%include head.ejs%>
<body >
	<%include nav.ejs%>
	<link rel='stylesheet' href='/css/profile.css' type='text/css' />
	
		
	<div class="container" id="content">
            <h1>Edit Profile</h1>
            <hr>
            <div class="row">   
                <!-- edit form column -->
                <div class="col-md-6 col-md-offset-5 personal-info">
                    <div class="alert alert-info alert-dismissable" style="display:none;">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <i class="fa fa-coffee"></i>
                        This is an
                        <strong>.alert</strong>. Use this to show important messages to the user.
                    </div>
             </div>

              <div class="row">
                    

                    <form class="form-horizontal" role="form" action="/editProfile" enctype="multipart/form-data" method="post">
                        
                    	<!-- left column -->
		                <div class="col-md-3">
		                    <div class="text-center">
		                        <img src="//placehold.it/100" id="imgSrc" class="avatar img-circle" alt="avatar" width="150px" height="150px">
		                        <h6>Upload a different photo...</h6>
		                      	<input class="form-control" type="file" id="avatar" name="avatar" accept=".jpg, .jpeg, .png">
		                    
		                    </div>
		                </div>
		                <script>
				        if('<%=data.userInfo.imgSrc%>'!='')
				        document.getElementById('imgSrc').setAttribute('src', '<%=data.userInfo.imgSrc%>');

				        </script>
		                <div class="col-md-9">
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">username :</label>
	                            <div class="col-lg-8">
	                                <input class="form-control" name="username" value="<%=data.userInfo.username%>" type="text" disabled>
	                            </div>
	                        </div>
	                        
	                        <div class="form-group">
				              <label class="col-lg-3 control-label">Email:</label>
				              <div class="col-lg-8">
				                <input class="form-control" value="<%= data.userInfo.email %>" type="text" disabled>
				              </div>
				            </div>

	                        <div class="form-group">
				              <label class="col-lg-3 control-label">Birth date:</label disabled>
				              <div class="col-lg-8">
								<input class="form-control" id="bDate" name="bDate" value="" type="date" >
								<script>
											
									
									var time=''	;				
									if('<%=data.userInfo.bDate%>'=='')time='';
									else
									time =convert('<%=data.userInfo.bDate%>');
									
									document.getElementById('bDate').value=time;
								</script>
				                
				              </div>
				            </div>

	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">Phone:</label>
	                            <div class="col-lg-8">
	                                <input class="form-control" name="phone" value="<%=data.userInfo.phone%>" type="text">
	                         	 <br>
	                             <p><small>
				                  <strong>Signup Date</strong>
				                  <%= data.userInfo.dateDK %>
				               </small></p>
	                            </div>

	                        </div>
	                        
	                      

	                        <div class="form-group">
	                            <label class="col-md-3 control-label"></label>
	                            <div class="col-md-8">
	                                <input class="btn btn-primary" value="Save Changes" type="submit">
	                                <span></span>
	                                <a href="/profile" class="btn btn-default">Cancel</a>
	                            </div>
	                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>

			

	<%include foot.ejs%>
</body >
</html>