<%include head.ejs%>

<body >
	<%include nav.ejs%>

	
	
	
	
	
	
	
	<div class="caroousel">			 
		 <div id="carousel-id" class="carousel slide" data-ride="carousel">
		 	<ol class="carousel-indicators">
		 		<li data-target="#carousel-id" data-slide-to="0" class=""></li>
		 		<li data-target="#carousel-id" data-slide-to="1" class=""></li>
		 		<li data-target="#carousel-id" data-slide-to="2" class=""></li>
		 		<li data-target="#carousel-id" data-slide-to="3" class=""></li>
		 		<li data-target="#carousel-id" data-slide-to="4" class=""></li>
		 		<li data-target="#carousel-id" data-slide-to="5" class="active"></li>
		 	</ol>
		 	<div class="carousel-inner">
		 		<div class="item active">
		 			<img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="/image/3.jpg">
		 			<div class="container">
		 				<div class="carousel-caption wow slideInRight" data-wow-delay="0.2s">
		 					<h1>This web practice myself</h1>
		 					<p><a class="btn btn-lg btn-primary" href="#" role="button">Not click</a></p>
		 				</div>
		 			</div>
		 		</div>
		 		<div class="item">
		 			<img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="/image/1.jpg">
		 			<div class="container">
		 				<div class="carousel-caption wow slideInRight" data-wow-delay="0.2s" >
		 					<h1>Jquery</h1>
		 					<p><a class="btn btn-lg btn-primary" href="#" role="button">Basic</a></p>
		 				</div>
		 			</div>
		 		</div>
		 		<div class="item">
		 			<img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="/image/2.jpg">
		 			<div class="container">
		 				<div class="carousel-caption wow slideInRight" data-wow-delay="0.2s">
		 					<h1>Ajax</h1>






		 					<p><a class="btn btn-lg btn-primary" href="#" role="button">Not click</a></p>
		 				</div>
		 			</div>
		 		</div>
		 		<div class="item">
		 			<img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Fourth slide" src="/image/2.jpg">
		 			<div class="container">
		 				<div class="carousel-caption wow slideInRight" data-wow-delay="0.2s">
		 					<h1>Bootstrap</h1>
		 					<p><a class="btn btn-lg btn-primary" href="#" role="button">Practice</a></p>
		 				</div>
		 			</div>
		 		</div>
		 		<div class="item">
		 			<img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Fourth slide" src="/image/2.jpg">
		 			<div class="container">
		 				<div class="carousel-caption wow slideInRight" data-wow-delay="0.2s">
		 					<h1>Nguyễn Hoài Danh</h1>
		 					<p><a class="btn btn-lg btn-primary" href="#" role="button">7/2018</a></p>
		 				</div>
		 			</div>
		 		</div>
		 		<div class="item">
		 			<img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Fourth slide" src="/image/2.jpg">
		 			<div class="container">
		 				<div class="carousel-caption wow slideInRight" data-wow-delay="0.2s">
		 					<h1>Summer 2018</h1>
		 					<p><a class="btn btn-lg btn-primary" href="#" role="button">Nodejs web</a></p>
		 				</div>
		 			</div>
		 		</div>
		 	</div>
		 	<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		 	<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		 </div>
	 </div>
		
		<div class="container-fluid trade" id="dientu">
			<h1>Điện tử</h1>
			<div class="container-fluid" id="product">	
				<div class="row">
				<% for(var i=0; i<data.dientu.length; i++) { %>
							<script>
							var	html='';
								html+='<div class="col-md-2 itemProduct wow">';
								html+=	'<a href="/item/<%=data.dientu[i].id%>">'
								html+=		'<div class="wow">';
								html+=			'<img src="<%=data.dientu[i].imgSrc%>"></img>';
								html+=			'<p>';
								html+=				'<span class="itemName "><%=data.dientu[i].name%></span><br>';
								html+=				'<span class="itemPrice"><strong><%=data.dientu[i].price%> đ</strong></span>';
								html+=				'<span class="oldPrice"> <del><%=data.dientu[i].oldPrice%> đ</del></span>';
								html+=			'</p>';
								html+=		'</div>';
								html+=	'</a>';
								html+='</div>';
							document.write(html);
							
							</script>	
				<% } %>

				</div> <!-- end  row -->
			</div> <!-- end  container -->
		</div>

		<div class="container-fluid trade" id="mypham">
			<h1>Mỹ phẩm</h1>
			<div class="container-fluid" id="product">	
				<div class="row">
				<% for(var i=0; i<data.mypham.length; i++) { %>
							<script>
							var	html='';
								html+='<div class="col-md-2 itemProduct wow">';
								html+=	'<a href="/item/<%=data.mypham[i].id%>">'
								html+=		'<div class="wow">';
								html+=			'<img src="<%=data.mypham[i].imgSrc%>"></img>';
								html+=			'<p>';
								html+=				'<span class="itemName "><%=data.mypham[i].name%></span><br>';
								html+=				'<span class="itemPrice"><strong><%=data.mypham[i].price%> đ</strong></span>';
								html+=				'<span class="oldPrice"><del><%=data.mypham[i].oldPrice%> đ</del></span>';
								html+=			'</p>';
								html+=		'</div>';
								html+=	'</a>';
								html+='</div>';
							document.write(html);
							
							</script>	
				<% } %>

				</div> <!-- end  row -->
			</div> <!-- end  container -->
		</div>

		<div class="container-fluid trade" id="quanao">
			<h1>Quần áo</h1>
			<div class="container-fluid" id="product">	
				<div class="row">
				<% for(var i=0; i<data.quanao.length; i++) { %>
							<script>
							var	html='';
								html+='<div class="col-md-2 itemProduct wow">';
								html+=	'<a href="/item/<%=data.quanao[i].id%>">'
								html+=		'<div class="wow">';
								html+=			'<img src="<%=data.quanao[i].imgSrc%>"></img>';
								html+=			'<p>';
								html+=				'<span class="itemName "><%=data.quanao[i].name%></span><br>';
								html+=				'<span class="itemPrice"><strong><%=data.quanao[i].price%> đ</strong></span>';
								html+=				'<span class="oldPrice"><del><%=data.quanao[i].oldPrice%> đ</del></span>';
								html+=			'</p>';
								html+=		'</div>';
								html+=	'</a>';
								html+='</div>';
							document.write(html);
							
							</script>	
				<% } %>

				</div> <!-- end  row -->
			</div> <!-- end  container -->
		</div>

		<div class="container-fluid trade" id="sachvo">
			<h1>Sách vở</h1>
			<div class="container-fluid" id="product">	
				<div class="row">
				<% for(var i=0; i<data.sachvo.length; i++) { %>
							<script>
							var	html='';
								html+='<div class="col-md-2 itemProduct wow">';
								html+=	'<a href="/item/<%=data.sachvo[i].id%>">'
								html+=		'<div class="wow">';
								html+=			'<img src="<%=data.sachvo[i].imgSrc%>"></img>';
								html+=			'<p>';
								html+=				'<span class="itemName "><%=data.sachvo[i].name%></span><br>';
								html+=				'<span class="itemPrice"><strong><%=data.sachvo[i].price%> đ</strong></span>';
								html+=				'<span class="oldPrice"><del><%=data.sachvo[i].oldPrice%> đ</del></span>';
								html+=			'</p>';
								html+=		'</div>';
								html+=	'</a>';
								html+='</div>';
							document.write(html);
							
							</script>	
				<% } %>

				</div> <!-- end  row -->
			</div> <!-- end  container -->
		</div>

			

				



	<%include foot.ejs%>
</body >
</html>