<%include head.ejs%>
<body >
	<%include nav.ejs%>
	<link rel='stylesheet' href='/css/search.css' type='text/css' />
	
		<div class="container" id="content">
			<h1 id="title">Kết quả tìm kiếm cho: "<%=data.keyword%>" (<%=data.arrayItem.length%> sản phẩm)</h1>
			<script>
					if('<%=data.keyword%>'=='')document.getElementById("title").innerHTML ="Có <%=data.arrayItem.length%> sản phẩm. ";
			</script>
			<div class="row">

					<% for(var i=0; i<data.arrayItem.length; i++) { 
						%>
								
								<script>
								
								var	html='';
									html+='<div class="col-md-2 itemProduct">';
									html+=	'<a href="/item/<%=data.arrayItem[i].id%>">'
									html+=		'<div class="wow">';
									html+=			'<img src="<%=data.arrayItem[i].imgSrc%>"></img>';
									html+=			'<p>';
									html+=				'<span class="itemName "><%=data.arrayItem[i].name%></span><br>';
									html+=				'<span class="itemPrice"><strong><%=data.arrayItem[i].price%> đ</strong></span>';
									html+=				'<span class="oldPrice"><del><%=data.arrayItem[i].oldPrice%> đ</del></span>';
									html+=			'</p>';
									html+=		'</div>';
									html+=	'</a>';
									html+='</div>';
								document.write(html);
								
								</script>	
					
					<% } %>

			</div>
		</div>
		


	<%include foot.ejs%>
</body >
</html>